{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/spec",
    "build",
    "reports",
    "docs"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "all": false,
  "sourceMap": true,
  "instrument": true,
  "report-dir": "reports/coverage"
}